main {
    margin: 2em;
  }
  .app-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
  }
   
  p {
      line-height: 2rem;
  }
  
  .post p {
      white-space: pre-wrap;
  }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9faf4;
  }

  .mr-auto {
    font-size: 25px;
    font-family: 'Pangolin', cursive;
  }

  .nav-link {
    font-size: 25px;
    font-family: 'Pangolin', cursive;
  }