@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Staatliches&display=swap');

.homePage {
    display: flex;
    justify-content: space-evenly;
}

.pieContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: 'Pangolin', cursive;
}

.data {
    width: 50em;
    padding-top: 12em;
    flex-grow: 4;
    font-family: 'Pangolin', cursive;
}

.recent {
    margin-bottom: 5px;
    font-family: 'Pangolin', cursive;
    width: 35em;
}

.due {
    width: 40em;
    font-family: 'Pangolin', cursive;
}

