@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Staatliches&display=swap');


.switch-toggle {
    width: 25em;
  }
  
  .switch-toggle {
    cursor: pointer;
  }

  #dbraForm {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
    display: none;
  }

  .IncidentCard {
    display: flex;
    justify-content: space-between;

  }

.incidentLink {
  width: 10em;
}

  .i {
    margin-bottom: 5px;
     
  }

  .dbList {
    margin: 5px;
    width: 15em;
  }

  .Link {
    background-color: #F17A7E;
    font-family: 'Staatliches', cursive;
    color: #3b4e50;
    width: auto;
    font-size: 20px
  }

  .container  {
    font-family: 'Pangolin', cursive;
    font-size: 18px;
  }

  h1, h2, h3, h4 {
    font-family: 'Pangolin', cursive;
}

.titleLink {
  margin-right: 5px;
}