progress {
    border: none;
    width: 20em;
    height: 25px;
    background-color: salmon;
    border-radius: 3em;
  }
 

  progress::-moz-progress-bar {
    background: salmon;
  } 
  
  progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, 0.25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, rgb(33, 119, 25) 10%, rgb(232, 236, 1) 30%, #f44 55%);
  
      border-radius: 2px; 
      background-size: 35px 20px 10px, 100% 100% 100%, 100% 100% 100%;
  }

.wholeForm {
    display: flex;
}
  
.dbraForm {
    height: 45em;
    width: 45em;
    overflow-y: scroll;
    overflow-x:hidden;
}

.ListGroupItem {
    width: 20em;
    margin-bottom: 5px
}

